
  <div class="pos-f-t">
    <nav class="navbar navbar-dark ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav-item">
        <li class="home"><a>Home</a></li>
        <li class="home"><a>Contact Us</a></li>
      </ul>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
       <div class="bg-dark">
         <a routerLink="create" href="#">Create Employee</a>
        
         <a routerLink="update" class="anc" href="#">Update Employee</a>
       </div>
      </div>
    </div>
   
  </div>  
  
  <router-outlet></router-outlet>
  